/* Changing font family */
html {
  font-size: 65.5%;
}

body {
  margin: 0;
  font: 300 12px/1.4 'Roboto', 'Coolvetica'; /* Font-weight, Font-size pixels, line height, default font, fall-back font */
  color: #444;
  background: #033036;
  overflow: hidden;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}